# MongoDB connection string
MONGO_URI=

# Secret key for JWT authentication
JWT_SECRET=

# Server port
PORT=5000

# Environment (development | production)
NODE_ENV=development

#Client URL
CLIENT_URL=

#Cloudinary connection setup
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret